*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Francois One';
}

.navbar-brand
{
  font-family: 'Oleo Script';font-size: 40px;
  margin: 0;
  text-align: center;
}

.nav-link 
{
  font-family: 'Francois One';font-size: 22px;
}

.tutorial-btn 
{
  font-size:22px;
  font-family: 'Francois One';
}

.stats-btn
{
  font-size:22px;
  font-family: 'Francois One';
}

.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: .5em 2em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  color: white;
  border: .05em solid hsl(240, 2%, 23%);
  border-radius:50%;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.input-box 
{
  display:flex;
  justify-content:center;
  align-items:center;
}

.optional-styles {
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.08);
  color: rgb(60, 60, 60);
  font-family: 'Francois One';
  font-size: 1.25em;
  outline: none;
  padding: 10px 20px;
  
}

#input::placeholder {
  color: blue;
  opacity: 0.5;
}

/* Notification Banner*/
.alert {
  padding: 20px;
  background-color: #60ee6c;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(255, 255, 255);
}
