*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Francois One';
}
:root
{
  --background-color:white;
  --alternate-background-color:#121213;
  --text-color:black;
  --text-color-dark:white;
}

[data-theme="dark"] body, .login, .register
{
  background: var(--alternate-background-color);
  color:var(--text-color-dark);
}

.navbar-brand
{
  font-family: 'Oleo Script';font-size: 40px;
  margin: 0;
  text-align: center;
}

.navbar-p
{
  font-family: "Noticia Text", serif;
  font-size: 18px;
  margin: 0;
  text-align: center;
  padding-left: 7px;
  font-style:italic;
  color:black;
}

/*Modals*/
#ModalTutorial
{
  color:black;
}

#ModalStats
{
  color:black;
}

#ModalSettings
{
  color:black;
}

.nav-link 
{
  font-family: 'Francois One';font-size: 22px;
}

.guess-grid1 {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(7, 6em); /*change back to 5 after demo 2 */
  grid-template-rows: repeat(1, 6em); /*Change back to 6 after demo 2 */
  gap: .5em 2em;
  margin-bottom: 1em;
}


.guess-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(7, 6em); /*change back to 5 after demo 2 */
  grid-template-rows: repeat(7, 6em); /*Change back to 6 after demo 2 */
  gap: .5em 2em;
  margin-bottom: 1em;
}

.tile {
  font-size: 2em;
  background-color:--alternate-background-color;
  border: .30em solid hsl(240, 2%, 23%);
  border-radius:50%;
  text-transform: capitalize;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#blank {
  font-size: 15px;
  text-align: center;
}

.red
{
  color:red;
}

.green
{
  color:green;
}

.yellow
{
  color:rgb(179, 117, 2);
}

#hint0 {
  background-color:red;
  font-size: 15px;
  text-align: center;
}

#hint1 {
  background-color:rgb(179, 117, 2);
  font-size: 15px;
  text-align: center;
}

#hint2 {
  background-color:green;
  font-size: 15px;
  text-align: center;
}

.input-box 
{
  display:flex;
  justify-content:center;
  align-items:center;
}

.optional-styles {
  border: none;
  border-radius: 100px;
  box-shadow: 0px 0px 24px 6px rgba(63, 62, 62, 0.658);
  color: rgb(0, 0, 0);
  font-family: 'Francois One';
  font-size: 1.25em;
  outline: none;
  padding: 10px 20px;
  
}

#tags::placeholder {
  color: blue;
  opacity: 0.5;
}



/* Notification Banner*/
.alert {
  padding: 20px;
  background-color: #60ee6c;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: rgb(255, 255, 255);
}


/* CSS For Toggle Button in Settings Modal */
.light-switch-wrapper {
  display:flex;
  align-items:center;

}

.theme-switch
{
  position: relative;
  display: inline-block;
  padding-left:10px;
  width: 60px;
  height: 34px;
}

.theme-switch input { 
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.Bwrapper
{
  align-items: center;
  justify-content:center;
  display:flex;
}

.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #444444;
  border-radius: 15px;
  box-sizing: border-box;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: 'Francois One';
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}