<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Oleo Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Francois One' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap" rel="stylesheet">

    <!--Script For AutoComplete-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 

</head>
<body>
{% extends 'foodrle/header.html' %}
{% block content %}
<div class="Bwrapper">
  <div class="tutorial-text">
    <h2 class="text-center" style="font-weight:bold; text-decoration:underline;">How To Play:</h2>
                <br>
                <h3 class = "text-center">You have 6 tries to guess the dish.</h3>
                <br>
                <p>After each guess, you will get the main ingredient, distance & direction from the target 
                    country of origin, 3 hints on the taste profile and hint based on calorie count.</p>
                <br>
                <div data-guess-grid class="guess-grid1">
                    <div class="tile" id="blank">Your Guessed Dish</div>
                    <div class="tile" id="blank">Country, Distance & Direction</div>
                    <div class="tile" id="blank">Taste Profile 1</div>
                    <div class="tile" id="blank">Taste Profile 2</div>
                    <div class="tile" id="blank">Taste Profile 3</div>
                    <div class="tile" id="blank">Calories</div>
                    <div class="tile" id="blank">Main Ingredient</div>
                </div>
                <p>Country, Distance & Direction will be provided in one circle.</p>
                <p>Taste profiles will be hinted through three different circles. Although some dishes may be described with only two taste qualities.</p>
                <p>Calorie hint is based on how far the calorie count of the guessed dish is from the answer's calorie count.</p>
                <p>Provides the main ingredient of the guessed dish.</p>
                <p>Taste profiles and main ingredient are color coded as follows:
                    <ul>
                        <li><span class="green">Green</span> to be correct</li>
                        <li><span class="yellow">Yellow</span> to be close (only for main ingredient)</li>
                        <li><span class="red">Red</span> to be wrong</li>
                    </ul>
                </p>  
                <br>
    </div>
</div>

<div class="Bwrapper">
    <button class="button-28" role="button" onclick= "location.href = '/puzzle/new'" >Can you guess the dish?</button>
</div>

{% endblock %}
</body>
</html>
