<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link href='https://fonts.googleapis.com/css?family=Oleo Script' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Francois One' rel='stylesheet'>
    
        <!--Script For AutoComplete-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        {% extends "foodrle/header.html" %}

        {% block content %} 

        {% load crispy_forms_tags %}         

        <!--Register--> 
        <div class="container py-5">
            <h1>Register</h1>
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}                    
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
            <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
        </div>

        {% endblock %}
    </body>
</html>