<!DOCTYPE html>
<html>
<head>
	<title>AutoComplete</title>
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>
	
	<script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>
	
	<link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
	<input type="text" id="tags" class="ui-autocomplete-input" autocomplete="on" role="textbox">
	<script>
    $( function() {
      var availableTags = [
        {% for dish in dishes %}
          "{{dish}}",
        {% endfor %}
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
 </script>
<p> Guess: {{ guess }}</p>
<p> Hints: {{ hints }}</p>
<p> Answer: {{ answer }}</p>


{% for hint in hints|slice:'1:' %}
	{% for key, value in hint.items%}
	<ul>
		<li> {{key}} : {{value}}</li>
	</ul>
	{% endfor %}
{% endfor %}


</body>
</html>
