<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Win</title>

    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Oleo Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Francois One' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text:ital@1&display=swap" rel="stylesheet">

    <!--Script For AutoComplete-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
 

</head>
<body>

{% extends 'foodrle/header.html' %}


{% block content %}
  <div class="alert">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Congratulations {{user.username}}
  </div>

  <div data-guess-grid class="guess-grid">
    {% for hints in hints_list %}
        {% for hint in hints|slice:":1" %}
            <div class="tile" id="blank">{{hint.guess}}</div>
        {% endfor%}

        {% for hint in hints|slice:"1:2" %}
            {% if hint.dir == 'south' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-down"></i></div> 
            {% elif hint.dir == 'southeast' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-down-right"></i></div>
            {% elif hint.dir == 'southwest' %}
                    <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-down-left"></i></div>
            {% elif hint.dir == 'north' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-up"></i></div>
            {% elif hint.dir == 'northwest' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-up-left"></i></div>
            {% elif hint.dir == 'northeast' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-up-right"></i></div>
            {% elif hint.dir == 'west' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-left"></i></div>
            {% elif hint.dir == 'east' %}
                <div class="tile" id="blank">{{hint.country}}<br>{{hint.dist}}<br> <i class="bi bi-arrow-right"></i></div>
            {% else %}
                <div class="tile" id="hint2">{{hint.country}}</div>  
            {% endif%} 
        {% endfor%}



        {% for hint in hints|slice:"2:"  %}

            {% for key, value in hint.items %}
                {% if key == 'calories'%}
                    {% if value > 0 %}
                        <div class="tile" id="blank">{{key}} <br>{{value}} <i class="bi bi-arrow-up"></i> </div>
                    {%elif value < 0%}
                        <div class="tile" id="blank">{{key}} <br>{{value}} <i class="bi bi-arrow-down"></i> </div>
                    {%else%}
                        <div class="tile" id="hint2">{{key}} <br>{{value}}</div>
                    {%endif%}
                {%else%}
                    {% if value == 2 %}
                        <div class="tile" id="hint2">{{key}}</div>
                    {% elif value == 1 %}
                        <div class="tile" id="hint1">{{key}}</div>
                    {% elif value == 0 %}
                        <div class="tile" id="hint0">{{key}}</div>
                    {% else %}
                        <div class="tile" id="blank"></div>  
                    {%endif%}
                {%endif%}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</div> 

<div class="Bwrapper">
    <button class="button-28" role="button" onclick= "location.href = '/puzzle/new'" >Play again?</button>
</div>

{% endblock %}
</body>
</html>
